@import "config"
body#comfy
  color: $color
  height: initial

  a:hover
    text-decoration: none

  span.checked
    color: $blue

  .page-header
    .btn
      &:hover
        background-color: $blue
        color: #fff


  .wysihtml5-toolbar
    .btn
      &:hover
        color: #FFF
        background-color: $blue

      i.fa
        width: 1em

  ul.list

    li
      .item
        .icon
          margin-top: 2px

          &.has-image
            margin-top: 0
            background: none

            img
              margin: 0

        .item-content
          .item-title
            a
              color: $color
              font-weight: bold
              &:hover
                color: $blue

          .item-meta
            color: $color
            font-size: inherit


  .btn-group
    // position: absolute
    // top: 0
    // right: 0
    // bottom: 0

    a.btn
      background-color: $default
      color: $color
      // height: 100%

      &:hover
        background-color: inherit
        color: #FFF

      span.fa
        // display: inline-block
        // vertical-align: middle

  .page-content
    .categories-widget
      line-height: 25px

      .btn
        padding-top: 2px
        padding-bottom: 2px
        background-color: $default
        color: $color
